# -------------------------
# PyTorch / ML Artifacts
# -------------------------

# Model checkpoints
*.pt
*.pth
*.ckpt
*.bin
*.safetensors

# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/

